body {
  background-color: #f33633;
  color: #e5e5e5;
  padding: 0;
  margin: 0;
}

.content {
  margin: 0 auto;
  width: 79vw;
  margin-top: 5vh;
}

.logo,
.headline {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

.logo {
  background: url(../img/logo.svg) no-repeat;
  background-size: 22%;
  margin-left: 0.75vw;
}

.headline {
  margin-top: 4.5em;
  background: url(../img/headline.svg) no-repeat;
  background-size: 60%;
  height: 27vw;
}

.message {
  font-family: 'Space Mono', monospace;
  font-size: 1.5em;
  margin-top: 7vh;
  width: 58%;
}

.message + .message {
  margin-top: 1em;
}

.message a {
  color: rgba(229, 229, 229, 0.6);
}
